body{ background-color: #5cd6d6; font-size: 15px; margin: 20px; }

h1 {color: #494940; margin: 10px; padding: 15px; border: 15px solid #ebdc14; background: #494940; text-align: center;}
h2 {color: #494940; margin: 10px; padding: 15px; background: #494940; text-align: center;  }

a:link {color:red;}

.myclass{color: lightgrey;}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 40%
}

div{
	background-color: #ebdc14;
	padding: 10px;
	margin: 20px;
	text-align: center;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
